<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Welcome to SAM2023</p>

<p th:if="${not isLoggedIn}">Log in to SAM2023!</p>
<p th:if="${isLoggedIn}" th:text="'You are logged in as ' + ${name} + ' as a(n) ' + ${role}"></p>

<form th:if="${isLoggedIn}" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<a th:each="link : ${roleLinks}" th:href="${link.key}" th:text="${link.value}"></a>
<a th:if="${not isLoggedIn}" href="/login">Login</a>
</body>
</html>